* text=auto !eol
bin/mangadap_version -text
doc/dap.bbl -text
doc/dap.pdf -text
doc/dap.tex -text
doc/figures/Blocks_1-3.odg -text
doc/figures/block1.odg -text
doc/figures/block1.pdf -text
doc/figures/block1.ps -text
doc/figures/block2.pdf -text
doc/figures/block2.ps -text
doc/figures/block3.pdf -text
doc/figures/block3.ps -text
doc/figures/block4.pdf -text
doc/figures/block4.ps -text
doc/figures/block5.pdf -text
doc/figures/block5.ps -text
doc/figures/dap_workflow_2.pdf -text
doc/figures/dap_workflow_2.ps -text
doc/figures/mangaDAP_workflow.odg -text
doc/figures/mangaDAP_workflow.pdf -text
doc/figures/mangaDAP_workflow.ps -text
doc/figures/mangaDAP_workflow_1.ps -text
doc/figures/mangaDAP_workflow_2.pdf -text
doc/figures/mangaDAP_workflow_2.ps -text
doc/mdap_calculate_spectrum_sn.tex -text
doc/mdap_calibrate_sn.tex -text
doc/mdap_log_rebin.tex -text
doc/mdap_read_datacube.tex -text
doc/mdap_spatial_binning.tex -text
doc/mdap_voronoi_2d_binning.tex -text
external/absorption_line_indices_definition.dat -text
external/emission_lines_setup_with_Balmer_decrement -text
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_10.00_z_-2.2500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_10.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_10.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_11.00_z_-2.2500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_11.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_11.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_12.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_12.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_13.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_13.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_15.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_15.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_3.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_3.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_5.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_5.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_7.00_z_-2.2500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_7.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_7.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_8.00_z_-2.2500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_8.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_8.00_z_0.3500.fits -text svneol=unset#unset
external/total_filelist.dat -text
/mdap_configure_file.dat -text
pro/interfaces/mdap_create_starting_guesses.pro -text
pro/interfaces/mdap_log_rebin.pro -text
pro/interfaces/mdap_measure_indices.pro -text
pro/interfaces/mdap_read_datacube.pro -text
pro/interfaces/mdap_spatial_binning.pro -text
pro/interfaces/mdap_spatial_radial_binning.pro -text
pro/interfaces/mdap_spectral_fitting.pro -text
pro/manga_dap.pro -text
pro/mangadap_version.pro -text
pro/modules/mdap_bvls.pro -text
pro/modules/mdap_calculate_spectrum_sn.pro -text
pro/modules/mdap_convol_sigma.pro -text
pro/modules/mdap_do_log_rebin.pro -text
pro/modules/mdap_do_measure_index.pro -text
pro/modules/mdap_dust_calzetti.pro -text
pro/modules/mdap_gandalf.pro -text
pro/modules/mdap_gandalf_wrap.pro -text
pro/modules/mdap_ppxf.pro -text
pro/modules/mdap_voronoi_2d_binning.pro -text
pro/obsolete/mdap_sgandalf.pro -text
pro/obsolete/mdap_spectral_fitting_with_sgandalf.pro -text
pro/utilities/basic_colors.pro -text
pro/utilities/basic_colors_rev.pro -text
pro/utilities/mdap_add_fits_layer.pro -text
pro/utilities/mdap_bvls.pro -text
pro/utilities/mdap_calculate_spectrum_sn.pro -text
pro/utilities/mdap_calibrate_sn.pro -text
pro/utilities/mdap_convol_sigma.pro -text
pro/utilities/mdap_create_starting_guesses.pro -text
pro/utilities/mdap_display_2dmap.pro -text
pro/utilities/mdap_display_2dmap_ps.pro -text
pro/utilities/mdap_get_2d_map.pro -text
pro/utilities/mdap_get_error_from_residual.pro -text
pro/utilities/mdap_get_losvd.pro -text
pro/utilities/mdap_interpolate_2dmaps.pro -text
pro/utilities/mdap_place_cbar.pro -text
pro/utilities/mdap_place_image.pro -text
pro/utilities/mdap_range.pro -text
pro/utilities/mdap_read_indices_definitions.pro -text
pro/utilities/mdap_readfits_2d.pro -text
pro/utilities/mdap_readfits_lambda.pro -text
pro/utilities/mdap_recovery_2d.pro -text
pro/utilities/mdap_round_str.pro -text
pro/utilities/mdap_sgn.pro -text
pro/utilities/mdap_stc.pro -text
pro/utilities/range.pro -text
pro/utilities/read_header.pro -text
pro/utilities/test_sn_definition.pro -text
pro/utilities/usersymbol.pro -text
/total_filelist.dat -text
ups/mangadap.table -text
