* text=auto !eol
bin/mangadap_version -text
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_10.00_z_-2.2500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_10.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_10.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_11.00_z_-2.2500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_11.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_11.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_12.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_12.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_13.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_13.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_15.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_15.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_3.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_3.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_5.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_5.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_7.00_z_-2.2500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_7.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_7.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_8.00_z_-2.2500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_8.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_8.00_z_0.3500.fits -text svneol=unset#unset
pro/mangadap_version.pro -text
