* text=auto !eol
/RELEASE_NOTES -text
bin/mangadap_version -text
bin/rundap -text
doc/configuration_file.tex -text
doc/dap.bbl -text
doc/dap.pdf -text
doc/dap.tex -text
doc/dap_workflow_description.tex -text
doc/figures/Block_4_zoom.ps -text
doc/figures/Blocks_1-3.odg -text
doc/figures/block1.odg -text
doc/figures/block1.pdf -text
doc/figures/block1.ps -text
doc/figures/block2.pdf -text
doc/figures/block2.ps -text
doc/figures/block3.pdf -text
doc/figures/block3.ps -text
doc/figures/block4.pdf -text
doc/figures/block4.ps -text
doc/figures/block5.pdf -text
doc/figures/block5.ps -text
doc/figures/dap_workflow_2.pdf -text
doc/figures/dap_workflow_2.ps -text
doc/figures/mangaDAP_workflow.odg -text
doc/figures/mangaDAP_workflow.pdf -text
doc/figures/mangaDAP_workflow.ps -text
doc/figures/mangaDAP_workflow_1.ps -text
doc/figures/mangaDAP_workflow_2.pdf -text
doc/figures/mangaDAP_workflow_2.ps -text
doc/mdap_calculate_spectrum_sn.tex -text
doc/mdap_calibrate_sn.tex -text
doc/mdap_convol_sigma.tex -text
doc/mdap_create_starting_guesses.tex -text
doc/mdap_do_k_rprofiles.tex -text
doc/mdap_do_kinemetry.tex -text
doc/mdap_do_log_rebin.tex -text
doc/mdap_do_measure_indices.tex -text
doc/mdap_dust_calzetti.tex -text
doc/mdap_gandalf.tex -text
doc/mdap_gandalf_wrap.tex -text
doc/mdap_get_2d_map.tex -text
doc/mdap_interpolate_2dmaps.tex -text
doc/mdap_kinemetry.tex -text
doc/mdap_log_rebin.tex -text
doc/mdap_measure_indices.tex -text
doc/mdap_ppxf.tex -text
doc/mdap_read_datacube.tex -text
doc/mdap_sgandalf.tex -text
doc/mdap_spatial_binning.tex -text
doc/mdap_spatial_radial_binning.tex -text
doc/mdap_spectral_fitting.tex -text
doc/mdap_voronoi_2d_binning.tex -text
etc/mangadap.module -text
examples/mdap_config_example.inp -text
examples/mdap_inp_nsa_v1b_0_0_v2.par -text
examples/mdap_setup.pro -text
external/F90_32/README_from_Remco -text
external/F90_32/bvls.f90 -text
external/F90_32/bvls_wrapper.c -text
external/F90_32/make_library.sh -text
external/F90_64/README_from_Remco -text
external/F90_64/bvls.f90 -text
external/F90_64/bvls_wrapper.c -text
external/F90_64/make_library.sh -text
external/absorption_line_indices_definition.dat -text
external/cmpfit-1.2/DISCLAIMER -text
external/cmpfit-1.2/Makefile -text
external/cmpfit-1.2/README -text
external/cmpfit-1.2/mpfit.c -text
external/cmpfit-1.2/mpfit.h -text
external/cmpfit-1.2/testmpfit.c -text
external/cmpfit-1.2/testmpfit.log -text
external/emission_lines_setup_with_Balmer_decrement -text
external/emission_lines_setup_with_Balmer_decrement_no_doublets -text
external/emission_lines_setup_with_Balmer_decrement_residuals -text
external/instrumental_fwhm.dat -text
external/mdap_color.tab -text
external/mdap_configure_file.dat -text
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_10.00_z_-2.2500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_10.00_z_-2.2500_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_10.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_10.00_z_0.0000_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_10.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_10.00_z_0.3500_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_11.00_z_-2.2500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_11.00_z_-2.2500_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_11.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_11.00_z_0.0000_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_11.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_11.00_z_0.3500_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_12.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_12.00_z_0.0000_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_12.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_12.00_z_0.3500_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_13.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_13.00_z_0.0000_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_13.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_13.00_z_0.3500_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_15.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_15.00_z_0.0000_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_15.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_15.00_z_0.3500_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_3.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_3.00_z_0.0000_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_3.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_3.00_z_0.3500_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_5.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_5.00_z_0.0000_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_5.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_5.00_z_0.3500_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_7.00_z_-2.2500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_7.00_z_-2.2500_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_7.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_7.00_z_0.0000_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_7.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_7.00_z_0.3500_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_8.00_z_-2.2500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_8.00_z_-2.2500_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_8.00_z_0.0000.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_8.00_z_0.0000_s.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_8.00_z_0.3500.fits -text svneol=unset#unset
external/templates_marcs/M11_MARCS_res2.7_imf_ss_age_8.00_z_0.3500_s.fits -text svneol=unset#unset
legacy_pro/manga_dap_0.pro -text
legacy_pro/manga_dap_1.pro -text
legacy_pro/mdap_add_fits_layer.pro -text
legacy_pro/mdap_array_string.pro -text
legacy_pro/mdap_create_starting_guesses.pro -text
legacy_pro/mdap_display_2dmap.pro -text
legacy_pro/mdap_display_2dmap_ps.pro -text
legacy_pro/mdap_do_k_rprofiles.pro -text
legacy_pro/mdap_do_kinemetry.pro -text
legacy_pro/mdap_get_2d_map.pro -text
legacy_pro/mdap_get_error_from_residual.pro -text
legacy_pro/mdap_get_losvd.pro -text
legacy_pro/mdap_ind_profiles.pro -text
legacy_pro/mdap_kinemetry.pro -text
legacy_pro/mdap_log_rebin.pro -text
legacy_pro/mdap_maps.pro -text
legacy_pro/mdap_match_resolution_tpl2obj.pro -text
legacy_pro/mdap_place_cbar.pro -text
legacy_pro/mdap_place_image.pro -text
legacy_pro/mdap_rad_spectra.pro -text
legacy_pro/mdap_read_datacube.pro -text
legacy_pro/mdap_read_user_defined_spatial_bins.pro -text
legacy_pro/mdap_readfits_2d.pro -text
legacy_pro/mdap_readfits_lambda.pro -text
legacy_pro/mdap_recovery_2d.pro -text
legacy_pro/mdap_sgandalf.pro -text
legacy_pro/mdap_sgn.pro -text
legacy_pro/mdap_spatial_radial_binning.pro -text
legacy_pro/mdap_spectral_fitting_with_sgandalf.pro -text
legacy_pro/range.pro -text
legacy_pro/read_header.pro -text
legacy_pro/test_sn_definition.pro -text
legacy_pro/usersymbol.pro -text
pro/fileio/mdap_check_bintable_columns.pro -text
pro/fileio/mdap_check_extension_exists.pro -text
pro/fileio/mdap_check_file_exists.pro -text
pro/fileio/mdap_check_output_file.pro -text
pro/fileio/mdap_create_dap_template_library.pro -text
pro/fileio/mdap_create_input_table.pro -text
pro/fileio/mdap_define_output.pro -text
pro/fileio/mdap_drp_check_filetype.pro -text
pro/fileio/mdap_initialize_fits_file.pro -text
pro/fileio/mdap_match_obs_nsa.pro -text
pro/fileio/mdap_read_1dspec_fits.pro -text
pro/fileio/mdap_read_absorption_line_parameters.pro -text
pro/fileio/mdap_read_drp_fits.pro -text
pro/fileio/mdap_read_emission_line_parameters.pro -text
pro/fileio/mdap_read_output.pro -text
pro/fileio/mdap_read_resampled_templates.pro -text
pro/fileio/mdap_read_template_library.pro -text
pro/fileio/mdap_setup_io.pro -text
pro/fileio/mdap_write_output.pro -text
pro/fileio/mdap_write_resampled_templates.pro -text
pro/interfaces/mdap_spatial_binning.pro -text
pro/interfaces/mdap_spectral_fitting.pro -text
pro/manga_dap.pro -text
pro/mangadap_version.pro -text
pro/mdap_drpall_info.pro -text
pro/modules/mdap_bvls.pro -text
pro/modules/mdap_bvls_external.pro -text
pro/modules/mdap_calculate_sn.pro -text
pro/modules/mdap_calculate_spectrum_sn.pro -text
pro/modules/mdap_do_log_rebin.pro -text
pro/modules/mdap_dust_calzetti.pro -text
pro/modules/mdap_gandalf.pro -text
pro/modules/mdap_gandalf_wrap.pro -text
pro/modules/mdap_ppxf.pro -text
pro/modules/mdap_spectral_index_measurements.pro -text
pro/modules/mdap_voronoi_2d_binning.pro -text
pro/testing/test_eml.pro -text
pro/testing/test_key.pro -text
pro/testing/test_setup.pro -text
pro/testing/test_table.pro -text
pro/testing/test_write.pro -text
pro/usr/mdap_execution_setup.pro -text
pro/utilities/mdap_abs_line_resolution.pro -text
pro/utilities/mdap_assign_absorption_line_parameters.pro -text
pro/utilities/mdap_assign_emission_line_parameters.pro -text
pro/utilities/mdap_basic_colors.pro -text
pro/utilities/mdap_build_execution_plans.pro -text
pro/utilities/mdap_calibrate_sn.pro -text
pro/utilities/mdap_check_emission_lines.pro -text
pro/utilities/mdap_combine_spectra.pro -text
pro/utilities/mdap_convert_pixel_kinematics.pro -text
pro/utilities/mdap_convol_sigma.pro -text
pro/utilities/mdap_convol_sigma_with_ivar.pro -text
pro/utilities/mdap_cube_onsky_xy.pro -text
pro/utilities/mdap_define_analysis_par.pro -text
pro/utilities/mdap_drp_filetype.pro -text
pro/utilities/mdap_erasevar.pro -text
pro/utilities/mdap_fiducial_bin_xy.pro -text
pro/utilities/mdap_fits_header_add_date.pro -text
pro/utilities/mdap_fits_zero_naxes.pro -text
pro/utilities/mdap_generate_binning_weights.pro -text
pro/utilities/mdap_get_broadened_template.pro -text
pro/utilities/mdap_get_resolution_difference.pro -text
pro/utilities/mdap_get_spaxel_size.pro -text
pro/utilities/mdap_get_spectral_index.pro -text
pro/utilities/mdap_index_is_bandhead.pro -text
pro/utilities/mdap_insert_flagged.pro -text
pro/utilities/mdap_interpolate_2dmaps.pro -text
pro/utilities/mdap_match_spectral_resolution.pro -text
pro/utilities/mdap_min_sig_gau_approx_delta.pro -text
pro/utilities/mdap_minimum_cnvlv_sigma.pro -text
pro/utilities/mdap_noise_from_ivar.pro -text
pro/utilities/mdap_noise_from_residual.pro -text
pro/utilities/mdap_normalize_templates.pro -text
pro/utilities/mdap_offset_xy_center.pro -text
pro/utilities/mdap_ppxf_convol_fft.pro -text
pro/utilities/mdap_print_execution_plan.pro -text
pro/utilities/mdap_range.pro -text
pro/utilities/mdap_replace_outliers.pro -text
pro/utilities/mdap_resample_templates.pro -text
pro/utilities/mdap_restructure_cube.pro -text
pro/utilities/mdap_restructure_rss.pro -text
pro/utilities/mdap_revert_pixel_kinematics.pro -text
pro/utilities/mdap_round_str.pro -text
pro/utilities/mdap_rss_onsky_xy.pro -text
pro/utilities/mdap_sauron_colormap.pro -text
pro/utilities/mdap_select_good_spectra.pro -text
pro/utilities/mdap_select_wave.pro -text
pro/utilities/mdap_set_intersection.pro -text
pro/utilities/mdap_set_output_file_cols.pro -text
pro/utilities/mdap_spatial_bin_area.pro -text
pro/utilities/mdap_spectral_index_measurements_spectra.pro -text
pro/utilities/mdap_stc.pro -text
pro/utilities/mdap_trim_spectral_range.pro -text
pro/utilities/mdap_update_starting_guesses.pro -text
pro/utilities/mdap_velocity_scale.pro -text
pro/utilities/mdap_wcs_units.pro -text
pro/utilities/mdap_wcsunit2arcsec.pro -text
python/mangadap/__init__.py -text
python/mangadap/rundap.py -text
scripts/mdap_environment.bash -text
scripts/mdap_environment.csh -text
scripts/mdap_setup.bash -text
scripts/mdap_setup.csh -text
scripts/run_dap.sh -text
ups/mangadap.table -text
