include README.md
include LICENSE.md
include pyproject.toml
include setup.cfg

recursive-include mangadap *.pyx *.c *.pxd *.h
recursive-include mangadap/data *.fits*
recursive-include mangadap/data *.par
recursive-include mangadap/data README
recursive-include mangadap/config *.ini
recursive-include docs *

prune build
prune docs/_build

global-exclude *.pyc *.o *.so *.DS_Store


